<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pasganjil11rpl2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Realm.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="HeadLines"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">
        <activity
            android:name=".ItemMemoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".Intro.IntroActivity"
            android:exported="true"
            android:noHistory="true" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />

        <activity
            android:name=".Activities.PasswordReset"
            android:exported="true" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.EditProfile"
            android:exported="true" />
        <activity
            android:name=".Activities.NavigationActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>